/VoxCake.JsonConverterGenerator/VoxCake.JsonConverterGenerator/bin/
/VoxCake.JsonConverterGenerator/VoxCake.JsonConverterGenerator.Sample/bin/
/VoxCake.JsonConverterGenerator/VoxCake.JsonConverterGenerator.Tests/bin/

/VoxCake.JsonConverterGenerator/VoxCake.JsonConverterGenerator/obj/
/VoxCake.JsonConverterGenerator/VoxCake.JsonConverterGenerator.Sample/obj/
/VoxCake.JsonConverterGenerator/VoxCake.JsonConverterGenerator.Tests/obj/

.idea/
.vs/