/VoxCake.JsonBaker/bin/
/VoxCake.JsonBaker.SourceGenerator/bin/
/VoxCake.JsonBaker.Sample/bin/
/VoxCake.JsonBaker.Tests/bin/

/VoxCake.JsonBaker/obj/
/VoxCake.JsonBaker.SourceGenerator/obj/
/VoxCake.JsonBaker.Sample/obj/
/VoxCake.JsonBaker.Tests/obj/

.idea/
.vs/